---
title: "Homepage"
description: "This is the homepage"
layout: "layouts/base.html"
key: "home"
---

   <!-- LIVE 2022 SERACH BOX -->
   <live-2022-search-box>
    <div class="live-2022-category">
      <h3 class="live-2022-category__title h4">Everything about Software Development</h3>
      <gwds-grid per-row="3">
        <live-2022-card 
        url="#" 
        card-title="Chatbots with GeneXus 18"
        speaker-1-name="Danilo Alvarellos"
        speaker-1-avatar-url="/assets-stencil/images/avatars/danilo-alvarellos.png"
        image-url="/assets-stencil/images/live-2022/live-2022__chatbots-with-genexus-19.svg"
        bg-color="blue-live">
      </live-2022-card>
      <live-2022-card
        url="#"
        card-title="Technological Challenges and the Future of Software Creation: GeneXus in the medium term"
        speaker-1-name="Gastón Milano"
        speaker-1-avatar-url="/assets-stencil/images/avatars/gaston-milano.png"
        image-url="/assets-stencil/images/live-2022/live-2022__technological-challenges-and-the-future-of-software-creation-genexus-in-the-medium-term.svg"
        bg-color="purple-live">
      </live-2022-card>
      <live-2022-card
        url="#"
        card-title="Business Process Management in GeneXus 18"
        speaker-1-name="Gonzalo Fernández"
        speaker-1-avatar-url="/assets-stencil/images/avatars/gonzalo-fernandez.jpg"
        image-url="/assets-stencil/images/live-2022/live-2022__business-process-management-in-genexus-19.svg"
        bg-color="red-live">
      </live-2022-card>
      <live-2022-card
        url="#"
        card-title="Reporting with GeneXus 18"
        speaker-1-name="Karen Baz"
        speaker-1-avatar-url="/assets-stencil/images/avatars/karen-baz.png"
        speaker-2-name="Gustavo Martínez"
        image-url="/assets-stencil/images/live-2022/live-2022__reporting-with-genexus-19.svg"
        bg-color="green-live">
      </live-2022-card>
      <live-2022-card
        url="#"
        card-title="Introducing GeneXus 18: The next-gen Software Development Platform"
        speaker-1-name="Armin Bachmann"
        speaker-1-avatar-url="/assets-stencil/images/avatars/armin-bachman.png"
        image-url="/assets-stencil/images/live-2022/live-2022__introducing-genexus-18-the-next-gen-software-development-platform.svg"
        bg-color="gray-live">
      </live-2022-card>
    </div>
    </gwds-grid>
  </live-2022-search-box>

{% include "partials/site-footer.html" %}
{% include "partials/sidebar.html" %}