:host {
  display: block;
  line-height: 0;
  width: 100%;
}

.gwds-video--full-width {
  display: block;
  width: 100%;
}
.gwds-video__container .video {
  aspect-ratio: 16/9;
  width: 100%;
}

@supports not (aspect-ratio: 1) {
  /* ... implement your fallback here */
  .gwds-video_ontainer {
    position: relative;
    padding-bottom: 52.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .gwds-video_ontainer iframe,
.gwds-video_ontainer object,
.gwds-video_ontainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}