<div class="sidebar">
    <h2 class="h4 mb-l sidebar__title">Blog <span class="sidebar__close">→</span></h2>
    <h3 class="h5">APIs in the GeneXus world</h2>
    <img loading="lazy" src="/assets/images/blog/blog-1.webp" alt="">
    <hr>
    <h3 class="h5">AMA: Question and Answer Series</h2>
    <img loading="lazy" src="/assets/images/blog/blog-2.webp" alt="">
    <hr>
    <h3 class="h5">Multi-Experience Development Platforms vs Low-Code Development Platforms</h2>
    <img loading="lazy" src="/assets/images/blog/blog-3.webp" alt="">
</div>

