<section class="site-footer__section">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="site-footer__col col-12 col-md-6 col-lg-5 tal-md">
                    <small>© GeneXus. Todos los derechos reservados.<br>GeneXus Powered by <a target="_blank" href="https://www.globant.com/">Globant</a></small>
                </div>
                <div class="site-footer__col col-12 col-md-6 col-lg-2">
                    <gwds-language-switcher selected-lang="en" es-url="/es" pt-url="/pt"></gwds-language-switcher>
                </div>
                <div class="site-footer__col col-12 col-md-6 col-lg-3">
                    <ul class="social-networks unstyled">
                        <li class="social-networks__item">
                            <a target="_blank" href="https://www.facebook.com/GeneXus" class="social-networks__link" title="facebook">
                                <gwds-icon src="/assets/icons/facebook-square.svg"></gwds-icon>
                            </a>
                        </li>
                        <li class="social-networks__item">
                            <a target="_blank" href="https://www.instagram.com/genexusofficial" class="social-networks__link" title="instagram">
                                <gwds-icon src="/assets/icons/instagram.svg"></gwds-icon>
                            </a>
                        </li>
                        <li class="social-networks__item">
                            <a target="_blank" href="https://www.linkedin.com/company/genexus-artech" class="social-networks__link" title="linkedin">
                                <gwds-icon src="/assets/icons/linkedin.svg"></gwds-icon>
                            </a>
                        </li>
                        <li class="social-networks__item">
                            <a target="_blank" href="https://twitter.com/genexus/" class="social-networks__link" title="twitter">
                                <gwds-icon src="/assets/icons/twitter.svg"></gwds-icon>
                            </a>
                        </li>
                        <li class="social-networks__item">
                            <a target="_blank" href="https://www.youtube.com/user/GXMarketing" class="social-networks__link" title="youtube">
                                <gwds-icon src="/assets/icons/youtube.svg"></gwds-icon>
                            </a>
                        </li>
                        <li class="social-networks__item">
                            <a target="_blank" href="stackoverflow,com/tags/genexus" class="social-networks__link" title="stack overflow">
                                <gwds-icon src="/assets/icons/stack-overflow.svg"></gwds-icon>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="site-footer__col col-12 col-md-6 col-lg-2">
                    <a href="/en" class="site-footer__gxlogo">
                        <img src="/assets/images/genexus_logo_globant-black.svg" alt="GeneXus Logo" width="100" height="29">
                    </a>
                </div>
            </div>
        </div>
    </footer>
</section>
<gwds-message bg-color="black" fixed link-label="Política de Privacidad" link-url="#" button-label="Entendido" button-closes>
    Utilizamos cookies para mejorar tu experiencia, marketing digital y análisis de uso.
</gwds-message>
<noscript>
    <style>
        body.opacity-0 {
            opacity: 1 !important; 
        }
        body.no-scroll {
            overflow: auto;
        }
        </style>
</noscript>
<link rel="stylesheet" href="/css/styles.css">
<script src="/scripts/general.js"></script>